<header>
  <img src="/assets/transparent_logo.png" alt="logo"  id="second-logo">
  <h1>Stolařství Mičkal</h1>
  <img src="/assets/transparent_logo.png" alt="logo">

</header>

<!--<hr>-->
<!--TODO dropdown vyrobky-->
<nav>
  <a routerLink="uvod">Úvod</a>
  <!--  <div class="container">-->
  <a routerLink="vyrobky">Výrobky</a>
  <!--        <div class="content">-->
  <!--    <a *ngFor="let x of numbers"-->
  <!--       routerLink="/vyrobky/{{x}}">{{names[x]}}</a>-->
  <!--        </div>-->
  <!--  </div>-->
  <a routerLink="kontakt">Kontakt</a>
</nav>
